In [2]:
import numpy as np
import pandas as pd

In [3]:
ds = pd.read_csv("data_science_job.csv")

In [4]:
ds.sample(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
8249,27807,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,12.0,50-99,Pvt Ltd,77.0,1.0
15312,6352,city_75,0.939,Male,Has relevent experience,no_enrollment,Masters,STEM,7.0,50-99,Funded Startup,30.0,0.0

In [11]:
(ds.isnull().mean())*100
# ds.isnull().sum()

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [14]:
cols = [i for i in ds.columns if ds[i].isnull().mean() < 0.05 and ds[i].isnull().mean() > 0]
# cols= [var for var in ds.columns if (ds[var].isnull().sum()>1)]

In [15]:
cols

['city_development_index',
 'enrolled_university',
 'education_level',
 'experience',
 'training_hours']

In [17]:
new_ds.head()

,city_development_index,enrolled_university,education_level,experience,training_hours
0,0.920,no_enrollment,Graduate,20.0,36.0
1,0.776,no_enrollment,Graduate,15.0,47.0
2,0.624,Full time course,Graduate,5.0,83.0
3,0.789,NaN,Graduate,0.0,52.0
4,0.767,no_enrollment,Masters,20.0,8.0

In [19]:
len(ds[cols].dropna())/len(ds)

0.8968577095730244

In [22]:
new_ds = ds[cols].dropna()
ds.shape,new_ds.shape

((19158, 13), (17182, 5))

In [28]:
import matplotlib.pyplot as plt 
import seaborn as sns
fig = plt.Figure()
ax = fig.add_subplot(111)
ds["city_development_index"].hist(ax=ax, bins=50, color = "red",density = True)

AssertionError: passed axis not bound to passed figure